<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hyf.entryexit.dao.SalesmanDAO">
	<!-- 难过业务员关联的网点id去查询所有预约、询业务、网点信息 -->
    <!-- 通过网点id查询出网点信息、可办理业务（service,department_service关连表）、排队情况（prebook表里的department_id） -->
	<select id="findDepartmentById" resultMap="departmentMap" parameterType="java.lang.Integer">
	    select * from department where department_id=#{departmentId}
	</select>
	<select id="findServiceByDepartmentId" resultType="com.hyf.entryexit.entity.Service" parameterType="java.lang.Integer">
	    select * from service where service_id in ( 
	    	select service_id from department_service where department_id=#{departmentId}
	    )
	</select>
	<select id="findqueuingNumByPrebook" resultType="java.lang.Integer" parameterType="java.lang.Integer">
	    select count(p.prebook_id) as queuingNum from prebook p where p.department_id=#{departmentId} and p.status='0'
	</select>
	<resultMap id="departmentMap" type="com.hyf.entryexit.entity.Department" >
	    <id property="department_id" column="department_id"/>
	    <result property="department_name" column="department_name"/>
	    <result property="department_address" column="department_address"/>
	    <collection property="services" javaType="java.util.ArrayList" 
	        ofType="com.hyf.entryexit.entity.Service" column="department_id" 
	        select="findServiceByDepartmentId">
	    </collection>
	    <collection property="queuingNum" javaType="java.lang.Integer" column="department_id"
	        select="findqueuingNumByPrebook">
	    </collection>
	</resultMap>
	<!-- 跳到 修改预约单状态 要查询的信息 -->
	<select id="findPrebookByClerkId" resultType="com.hyf.entryexit.entity.Prebook" parameterType="java.lang.Integer">
	    select p.*,s.service_name from prebook p,service s where p.service_id in(
 				select ds.service_id from clerk c,department_service ds
				where c.clerk_id=#{clrekId} and c.department_id=ds.department_id 
			) and p.service_id=s.service_id
	</select>
	<!--过prebook的id和预约状态值更改数据  -->
	<update id="updatePrebook" parameterType="java.util.HashMap" >
	    update prebook set status=#{status} where prebook_id=#{prebookId}
	</update>
	
</mapper>







